@font-face {
	font-family: 'roboto';
	src: local('roboto'), url(./fonts/Roboto-Regular.ttf) format('woff');
}

body {
	background-color: #2c3333;
	overflow-x: hidden;
}
* {
	font-family: 'roboto';
}

.main-container {
	display: flex;
	justify-content: center;
	flex-flow: column;
}

.notes-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.fab-container {
	position: fixed;
	right: 2vw;
	bottom: 5vh;
}

.note-card {
	height: 50vh;
	width: 30vh;
	background-color: #395b64;
	margin: 1%;
	border-radius: 10px;

	display: grid;
	grid-template-rows: 10% 80% 7%;
	grid-row-gap: 1%;
}

.title-input:focus {
	outline: none;
	font-size: 20px;
	background-color: transparent;
	border-color: transparent;
}

.title-input {
	padding-left: 1vw;
	outline: none;
	font-size: 20px;
	color: white;
	background-color: transparent;
	border-color: transparent;
}

.note-input {
	padding-left: 1vw;
	resize: none;
	outline: transparent;
	background-color: transparent;
	border-color: transparent;
	color: white;
	font-size: 20px;
}

::placeholder {
	color: rgba(255, 255, 255, 0.5);
}

.navbar {
	color: white;
	background-color: dodgerblue;
	display: grid;
	grid-template-columns: 10% 80% 10%;
}

.navbar-title {
	margin: 10px;
}

.navbar-search {
	display: grid;
	align-items: center;
	justify-content: end;
}

.profile-button {
	justify-self: end;
	align-self: center;
	width: 60px;
}
