:root{
    --inputs-color: #fdd497;
    --inputs-width: 25vw;
    --inputs-height: 8vh;
    --inputs-border-radius: 10px;
    --inputs-font-size: 25px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.login-container{
    background-color: aliceblue;
    height: 90vh;
    width: 35vw;
    border-radius: 10px;
    
    display: grid;
    grid-template-rows: 25% auto auto auto 25%;
}

/*Top container*/
.title{
    justify-self: center;
    align-self: center;
    font-size: 65px;
}

/*Email styles*/
.input-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.email-input{
    padding-left: 7px;
    padding-right: 0;
    
    color: black;
	background-color: #fdd497;
    outline: none;
    border-color: transparent;
    font-size: var(--inputs-font-size);
    border-radius: var(--inputs-border-radius);
    height: var(--inputs-height);
    width: var(--inputs-width);

    transition: background-color 0.4s;
}
.email-input:hover{
    background-color: #ffc267;

    transition: background-color 0.4s;
}

/*Password styles*/
.password-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.password-input{
    padding-left: 7px;
    padding-right: 0;

	color: black;
	background-color: #fdd497;
    outline: none;
    border-color: transparent;
    font-size: var(--inputs-font-size);
    border-radius: var(--inputs-border-radius);
    height: var(--inputs-height);
    width: var(--inputs-width);

    transition: background-color 0.4s;
}
.password-input:hover{
    background-color: #ffc267;

    transition: background-color 0.4s;
}

/*Buttons*/
.top-button-container{
    display: grid;
    grid-template-columns: auto auto;
    width: 25.6vw;
    margin-left: 7vh;
}

.login-button{
    justify-self: end;
    height: 5vh;
    width: 10vw;
    border-radius: 35px;
    color: white;
    font-size: 18px;

    cursor: pointer;
    border: transparent;
    background-color: #5D78CE;
    
    transition: all 0.4s;
}
.login-button:hover{
    background-color: #495ea3;
    
    transition: background-color 0.4s;
}

.forgot-button{
    height: 5vh;
    width: 15vw;
    border-radius: 35px;
    border: transparent;
    font-size: 17px;

    cursor: pointer;

    transition: background-color 0.5s;
}
.forgot-button:hover{
    background-color: #a5a5a596;

    transition: background-color 0.5s;
}

.bottom-button-container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    top: 12vh;
}

.register-button{
    height: 8vh;
    width: 15vw;
    border-radius: 35px;
    border: transparent;
    font-size: 17px;

    cursor: pointer;

    transition: background-color 0.5s;
}
.register-button:hover{
    background-color: #a5a5a596;

    transition: background-color 0.5s;
}